body
  :margin-top 0

div
  &#container
    :width 760px
    :margin 0 auto

  &#header
    :height 200px
    :background-image url('../images/mesh.jpg')
    :border-width 1px
    :border-color #000
    :border-style solid
    :position relative

  &#content
    :text-align left

  &#footer
    :margin-top 15px
    :font-size 0.9em
    :color #aaa

  &#schedule
    :margin-top 15px

  .post
    :margin-top 15px
    :border-bottom 1px solid #ccc

h1
  :color #FD3933
  :font-size 3em
  :font-weight normal
  :margin-top 0
  :margin-bottom 0

  &.title
    :color #FFF
    :font-size 3em
    :font-weight bold
    :position absolute
    :bottom 1ex
    :left 1ex


    a
      &:link, &:visited
        :color #FFF
        :text-decoration none

      &:hover
        :text-decoration underline

.box
  :background-color #CEFD9B
  :padding 0.5em
  :margin-bottom 1em

  a
    &:link, &:visited
      :color #000
      :font-weight bold
      :text-decoration none

    &:hover
      :text-decoration underline

  ul
    :margin 0.25em 0.2em

    li
      :list-style none
      :margin-top 1em
      :display inline
      :margin-right 0.4em
      :margin-bottom 1em
      :line-height 2.5

a
  &:link
    :color #FD3933

  &:visited
    :color #F7807B
